@layer components {
  .squircle {
    @apply bg-zinc-950 rounded-lg;
    --squircle-smooth: 1;
    --squircle-radius: 16px;
    --squircle-fill: var(--foreground);
    background: paint(squircle);
  }
}
