@utility cap-round {
  stroke-linecap: round;
}

@utility join-round {
  stroke-linejoin: round;
}

@utility squircle-smooth-* {
  --squircle-smooth: --value(integer);
}

@utility squircle-radius-* {
  --squircle-radius: calc(--value(integer) * 1px);
}

@utility squircle-fill-* {
  --squircle-fill: --value([*]);
  --squircle-fill: --value(--color-*);
}
